server:
  port: 6902


spring:
  cloud:
    config:
      uri: http://localhost:3344
      name: config-dept # 需要从git上读取的资源名称，不要要后缀
      label: master
      profile: dev


---

server:
  port: 6908


spring:
  cloud:
    config:
      uri: http://localhost:3344
      name: config-dept # 需要从git上读取的资源名称，不要要后缀
      label: master
      profile: test
rabbitmq: #rabbitmq相关配置，15672是web管理端口，5672是mq访问端口
  port: 5672
  host: 127.0.0.1
  username: 8890
  password: guest
